.main
{
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.speechText
{
    width: 100px;
    font-size: 25px;
    float: left;
    height: 40px;
}
.speak
{
    width: 600px;
    float: left;
    height: 40px;
}
.speak input
{
    width: 580px;
    height: 38;
    font-size: 25px;
}
.speak input:hover
{
    box-shadow:  5px 5px 5px 5px #e7e4e4;
    border: 0px;
}